:root {
  font-family: "Outfit", sans-serif;
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

/* Css Reset */

* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
 *, *::before, *::after { 
 animation-duration: 0.01ms !important; 
 animation-iteration-count: 1 !important; 
 transition-duration: 0.01ms !important; 
 scroll-behavior: auto !important;
 transition: none;
 }
}

/* Css Reset */

main {
  background-color: var(--slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .card {
    width: 320px;
    height: 499px;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    background-color: var(--white);
    text-align: center;
    display: grid;
    gap: 24px;

    img {
      border-radius: 15px;
    }

    p:nth-of-type(1) {
      color: var(--slate-900);
      font-weight: 900;
      font-size: 22px;
      line-height: 120%;
    }

    p:nth-of-type(2) {
      color: var(--slate-500);
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: .6px;
    }
  }
}